/*~
/.python-version
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bug
/config.log
/config.status
/configure
/dbg-trace.sh
/dist
/elisp-comp
/install-sh
/kshdb
/kshdb-*.tar.bz2
/kshdb-*.tar.gz
/kshdb-trace
/missing
/test-driver
/tmp
