/*.check
/*~
/Makefile
/Makefile.in
/check-common.sh
/test-bug-args
/test-bug-errexit
/test-bugIFS
/test-condition
/test-delete
/test-enable
/test-examine
/test-frame
/test-list
/test-next
/test-restart
/test-setshow
/test-skip
/test-step
/test-subshell1
